:root {
  --blanco_roto: #EDE8D9;
  --naranja: #FF5035;
  --azul_oscuro: #17191D;
  --naranja_claro: #FE8A78;
}



html {
  font-size: 62.5%;
}

body {
  background-color: var(--azul_oscuro);

  font-size: 16px;
  
  /*background: linear-gradient(to bottom, var(--azul_oscuro) 10%, var(--blanco_roto) 80%);*/

}
.coches_disponibles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.logo {
  position: absolute;
  /* O 'absolute' si prefieres posicionar relativo a un contenedor */
  z-index: 9999;
  /* Un valor alto para asegurar que esté en la parte superior */
  top: 3%;
  width: auto;
  height: 3rem;
}

.compramos_coche {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--naranja);
  margin-left: 0%;
  font-size: 6rem;
  margin-top: 5%;
  margin-bottom: 2%;
}



.filtro {

  background-color: var(--blanco_roto);
  padding: 10%;
  border-radius: 1rem;

}

.filtro h4 {
  color: var(--azul_oscuro);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 35%;
  margin-top: 0%;
  margin-bottom: 2%;


}

.filtro h3 {
  color: var(--naranja);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin-left: 7%;
  margin-top: 0%;
  margin-bottom: 5%;


}

.filtro h3 span {
  margin-top: 50px;
  margin: 50px;

  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: var(--azul_oscuro);
  border-radius: 30px;

  color: var(--naranja);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 0%;
  margin-bottom: 2%;


}




label,
input,
select,
textarea {
  margin: 3%;
  width: 48%;
  min-width: 15rem;
  max-width: 30rem;
  min-height: 3rem;
  max-height: 5rem;
  margin-bottom: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: var(--naranja);
  border-radius: 0.5rem;
  background-color: #f7efee;
}

.botones {
  margin: 0%;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-bottom: 0%;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0px 25px 0px 25px;
  cursor: pointer;  

}

.botones:hover {
  box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);


}

.disabled {
  color: #2f3033;
}

.boton-filtar {
  margin: 0%;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}

.boton-filtar:hover {
  box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);


}

.boton-filtar0 {
  margin: 0%;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  
  border-color: #FF5035;


}

.boton-filtar0:hover  {
  box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);
  background-color: #fc6852;
  color: #17191D;
  border-color: #FF5035;

}

.boton-borrar {
  margin: 0%;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--naranja);
  background-color: var(--blanco_roto);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}

.boton-borrar:hover {
  box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);


}



textarea:focus,
select:focus,
input:focus,
input[type]:focus {
  border-color: var(--naranja);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 102, 0, 0.6);
  outline: 0 none;
}

.coches {
  
  width: 100%;
  border-radius: 20px;
  margin-top: 0%;
}

.img-galeria{
  width: 100%;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;  
  border-radius: 25px 25px 0px 0px; 
  padding: 0%;  
}



.divimagen{
  background-color: var(--blanco_roto);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin: 1%;

}

.texto{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 2rem;
  margin-bottom: 4%;
}

.precio{
  color: var(--naranja);
  font-size: 4rem;
  font-weight: bold;
}
.desde{
  font-size: 1,5rem;
}
.nombre{
  font-size: 3rem;

}
.divimagen p{
  margin: 0%;

}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .compramos_coche {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--naranja);
    font-size: 3.8rem;
    margin-top: 12%;
    margin-bottom: 2%;
  }

  .filtro h3 {
    color: var(--naranja);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 5%;
  
  
  }

  label,
input,
select,
textarea {
  margin-right: 2%;
  margin: 3%;
  width: 48%;
  min-width: 9rem;
  max-width: 30rem;
  min-height: 3rem;
  max-height: 5rem;
  margin-bottom: 0%;
  font-size: 70%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: var(--naranja);
  border-radius: 0.5rem;
  background-color: #f7efee;
}
.boton-filtar {
  margin: 0%;
  min-width: 9rem;
  max-width: 10rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}

.boton-borrar {
  margin: 0%;
  min-width: 9rem;
  max-width: 10rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--naranja);
  background-color: var(--blanco_roto);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}

  
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

 
  
  .compramos_coche {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--naranja);
    font-size: 2.5rem;
    margin-top: 15%;
    margin-bottom: 2%;
    margin-left: 0%;
  }

  .filtro h3 {
    color: var(--naranja);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom: 5%;
  
  
  }

  label,
input,
select,
textarea {
  margin-right: 2%;
  margin: 3%;
  width: 48%;
  min-width: 6rem;
  max-width: 30rem;
  min-height: 3rem;
  max-height: 5rem;
  margin-bottom: 0%;
  font-size: 70%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-color: var(--naranja);
  border-radius: 0.5rem;
  background-color: #f7efee;
}

.boton-filtar {
  margin: 0%;
  min-width: 6rem;
  max-width: 10rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}

.boton-borrar {
  margin: 0%;
  min-width: 6rem;
  max-width: 10rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-top: 1%;
  color: var(--naranja);
  background-color: var(--blanco_roto);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;  

}
  
}
