:root {
  --blanco_roto: #EDE8D9;
  --naranja: #FF5035;
  --azul_oscuro: #17191D;
  --naranja_claro: #FE8A78;
}



html {
  font-size: 62.5%;
}

body {
  background-color: var(--azul_oscuro);

  font-size: 16px;
  
  /*background: linear-gradient(to bottom, var(--azul_oscuro) 10%, var(--blanco_roto) 80%);*/

}
.coches_disponibles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  background: rgb(0, 0, 0);
  width: 40px;
  height: 40px;
  cursor: pointer;
  /* Cada vez que pasas el RATON POR ENCIMA aparece la MANITA */
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, .5);

}

.menu-navegacion {
  position: fixed;
  top: 0;
  right: 0;
  width: 30vw;
  /* VIEW PER WIDTH 30% DE ANCHO DE LA PAGINA */
  height: 100%;
  background-image: linear-gradient(to right, var(--azul_oscuro) 0%, var(--azul_oscuro) 100%);
  display: flex;
  flex-direction: column;
  /* PARA QUE SE PONGAN UNO ENCIMA DE OTRO */
  justify-content: space-evenly;
  /* REPARTE ESPACIO EQUITATIVAMENTE VERTICALMENTE */
  align-items: center;
  transition: transform .3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  font-family: 'Montserrat', sans-serif;

}

.spread {
  transform: translate(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.logo {
  position: absolute;
  /* O 'absolute' si prefieres posicionar relativo a un contenedor */
  z-index: 9999;
  /* Un valor alto para asegurar que esté en la parte superior */
  top: 3%;
  width: auto;
  height: 3rem;
}

.compramos_coche {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--naranja);
  margin-left: 0%;
  font-size: 6rem;
  margin-top: 5%;
  margin-bottom: 2%;
}

.filtro_coches {
display: flex;

}

.filtro {

  background-color: var(--blanco_roto);
  padding: 1.5%;
 max-height:50rem;
border-radius: 1rem;

}

.filtro h4 {
  color: var(--azul_oscuro);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 35%;
  margin-top: 0%;
  margin-bottom: 2%;


}

.filtro h3 {
  color: var(--naranja);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin-left: 7%;
  margin-top: 0%;
  margin-bottom: 5%;


}

.filtro h3 span {
  margin-top: 50px;
  margin: 50px;

  display: flex;
  flex-direction: column;
  width: 50%;

  background-color: var(--azul_oscuro);
  border-radius: 30px;

  color: var(--naranja);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  margin-top: 0%;
  margin-bottom: 2%;


}




label,
input,
select,
textarea {
  margin: 3%;
  width: 48%;
  min-width: 15rem;
  max-width: 30rem;
  min-height: 3rem;
  max-height: 5rem;
  margin-bottom: 0%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.botones {
  margin: 0%;
  min-width: 15rem;
  max-width: 20rem;
  min-height: 3rem;
  max-height: 7rem;
  margin-bottom: 0%;
  margin-top: 1%;
  color: var(--blanco_roto);
  background-color: var(--naranja);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 0px 25px 0px 25px

}

.botones:hover {
  box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);


}

input,
select,
label,
textarea {
  border-color: var(--naranja);
  border-radius: 0.5rem;
  background-color: #f7efee;
}

textarea:focus,
select:focus,
input:focus,
input[type]:focus {
  border-color: var(--naranja);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 102, 0, 0.6);
  outline: 0 none;
}

.coches {
  
  width: 100%;
  border-radius: 20px;
  margin-top: 0%;
  margin: 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-galeria{
  width: 100%;
  display: block;
  margin-bottom: 15px;
  cursor: pointer;  
  border-radius: 25px 25px 0px 0px; 
  padding: 0%;  
}



.divimagen{
  background-color: var(--blanco_roto);
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  margin: 1%;

}

.texto{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 2rem;
}

.precio{
  color: var(--naranja);
  font-size: 4rem;
  font-weight: bold;
}
.desde{
  font-size: 1,5rem;
}
.nombre{
  font-size: 3rem;

}
.divimagen p{
  margin: 0%;

}

