*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.titulo{
    padding: 10px;
    margin: 27em auto;
    width: fit-content;
    width: 25%;
}

.head{
    text-align: center;
    padding: 1;
    height: 10%;
    display: flex;      /* POSICIONAR VERTICAL Y HORIZONTALMENTE */
    justify-content: center;
    flex-direction: column;
    background: #000000;
}

body{
    background-color: #000000;
}
header{
    height: 10vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.gallery{
    background: rgb(0, 0, 0);
}

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
    font-size: 40px;
}



.img-galeria{
    object-fit: cover;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;  
    border-radius: 25px 25px 0 0; 
    transition: opacity 0.5s;  /* ESTO HARA QUE CUANDO DEJE DE ESTAR EL RATON POR ENCIMA NO QUITE BRUSCAMENTE LA ANIMACION */
    width: 100%;
}

.imagen-light{
    position: fixed;    /* QUE SE FIJE A LA PAGINA */
    background: rgba(0, 0, 0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);     /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
    transition: transform .2s ease-in-out;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);            /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
    transition: transform .3s .2s;  /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; /* VIEW PER WIDTH 30% DE ANCHO DE LA PAGINA */
    height: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    flex-direction: column;     /* PARA QUE SE PONGAN UNO ENCIMA DE OTRO */
    justify-content: space-evenly;    /* REPARTE ESPACIO EQUITATIVAMENTE VERTICALMENTE */
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.contact-us{
    color: rgb(255, 255, 255);
    width: 40%;
}

.social-media-icon:hover{
    background:  white;
    color: #ff5500;
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

p, h1, h2{
 color: rgb(0, 0, 0);   
}

.infoadicional{
    border-radius: 26px;
    padding: 10px;
    margin: 1rem;
    background-color: #EDE8D9;
    
}

.infoadicional h1{
    justify-content: center;
    display: flex;
    margin: 1em;
}

.contenedor-galeria{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.divimagen{
    margin: 1rem;
    background-color: #EDE8D9;
    border-radius: 26px;
}
.texto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 2rem;
    margin-bottom: 4%;
  }
.desde{
    font-size: 1,5rem;
  }

  .precio{
   color: #ff5500;
    font-size: 2.5rem;
    font-weight: bold;
  }

  .nombre{
    font-size: 3rem;
  
  }

  .divimagen p{
    margin: 0%;
    font-weight: 700;
  }
  .boton1{
    font-size: xx-large;
    margin: 1em auto auto 1em;
    transition: transform 0.3s;
    
  }

  .coches_disponibles{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    
    top: 3%;
    width: auto;
    height: 3rem;
  }
.custom-dropdown {
    align-items: center;
    display: grid;
    place-items: center;
}

.custom-dropdown1 {
    align-items: center;
    display: grid;
    place-items: center;
}

.custom-dropdown2 {
    align-items: center;
    display: grid;
    place-items: center;
}

.custom-dropdown3 {
    align-items: center;
    display: grid;
    place-items: center;
}

.custom-dropdown4 {
    align-items: center;
    display: grid;
    place-items: center;
}

.dropdown-header {
    background-color: #EDE8D9;
    color: #fff;
    border: 1px solid #ff5500;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    width: 700px;
    height: 120px;
    transition: transform .5s;
    font-weight: 1000;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dropdown-content {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f2f2f2;
    width: 700px;
    height: 130px;
    
    
}

.dropdown-header1 {
    background-color: #EDE8D9;
    color: #fff;
    border: 1px solid #ff5500;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    width: 700px;
    height: 120px;
    transition: transform .5s;
    font-weight: 1000;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.dropdown-content1 {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f2f2f2;
    width: 700px;
    height: 100px;
    
}

.dropdown-header2 {
    background-color: #EDE8D9;
    color: #fff;
    border: 1px solid #ff5500;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    width: 700px;
    height: 120px;
    transition: transform .5s;
    font-weight: 1000;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dropdown-content2 {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f2f2f2;
    width: 700px;
    height: 180px;
    
}

.dropdown-header3 {
    background-color: #EDE8D9;
    color: #fff;
    border: 1px solid #ff5500;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    width: 700px;
    height: 120px;
    transition: transform .5s;
    font-weight: 1000;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dropdown-content3 {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f2f2f2;
    width: 700px;
    height: 70px;
    
}

.dropdown-header4 {
    background-color: #EDE8D9;
    color: #fff;
    border: 1px solid #ff5500;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    width: 700px;
    height: 120px;
    transition: transform .5s;
    font-weight: 1000;
    font-size: 400%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.dropdown-content4 {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f2f2f2;
    width: 700px;
    height: 50px;
    
}

.dropdown-header:hover{
    transform: scale(1.1);
    background-color: #ff5500;
}
.dropdown-header1:hover{
    transform: scale(1.1);
    background-color: #ff5500;
}
.dropdown-header2:hover{
    transform: scale(1.1);
    background-color: #ff5500;
}
.dropdown-header3:hover{
    transform: scale(1.1);
    background-color: #ff5500;
}
.dropdown-header4:hover{
    transform: scale(1.1);
    background-color: #ff5500;
}


.divboton{
    justify-content: center;
    align-items: center;
    display: flex;
}

.boton{
    transition: transform 0.3s;
    font-size: x-large;
}

.boton:hover{
    background-color: #ff5500;
    transform: scale(1.1);
    opacity: 0.8;
}
.boton1:hover{
    background-color: #ff5500;
    transform: scale(1.1);
    opacity: 0.8;
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    cursor: pointer;    /* Cada vez que pasas el RATON POR ENCIMA aparece la MANITA */
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; /* VIEW PER WIDTH 30% DE ANCHO DE LA PAGINA */
    height: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    flex-direction: column;     /* PARA QUE SE PONGAN UNO ENCIMA DE OTRO */
    justify-content: space-evenly;    /* REPARTE ESPACIO EQUITATIVAMENTE VERTICALMENTE */
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}


.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.imagen-modal{
    width: 300px;
}
