:root {
    --blanco_roto: #EDE8D9;
    --blanco_clarito: FBF8DA;
    --naranja: #FF5035;
    --azul_oscuro: #17191D;
    --naranja_claro: #FE8A78;
    --gris_claro: #b7b8b7;
}

body {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9.1%;
    /* Divide el fondo en dos partes, cada una con el 50% de altura */
    background-color: var(--azul_oscuro);
    /* Color de la mitad superior */
    z-index: -1;
}



header {
    background-color: var(--azul_oscuro);
    background-size: cover;
    margin: 0%;
    background-color: var(--azul_oscuro);
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: column;
}

header .imagen {
    padding: 10px;
    margin: auto;
    width: fit-content;
    width: 25%;
}

.linea_naranja {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5px;

    background-color: var(--naranja_claro);
}

.linea_negra {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 1px;

    background-color: black;
}

.container-opiniones_formulario {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container-opiniones {
    margin-top: 50px;
    margin: 50px;

    display: flex;
    flex-direction: column;
    width: 50%;

    background-color: var(--azul_oscuro);
    border-radius: 30px;
}

.container-opiniones .opiniones-titulo {

    margin: auto;
    padding: 20px;

    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;

    background-color: var(--blanco_clarito);
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--naranja_claro);
}

.container-opiniones .opiniones {
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;

    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 5px;

    text-align: justify;

    border: 1px solid;
    border-radius: 10px;
    border-color: var(--naranja);
}

.container-haz_comentario {
    display: flex;
    flex-direction: column;
    width: 50%;

    background-color: var(--azul_oscuro);
    border-radius: 20px;
    margin: 50px;

}

.container-haz_comentario .formulario {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 26%;
}

.formulario .titulo_formulario {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--naranja_claro);
}

.container-haz_comentario .labels {
    display: flex;
    flex-direction: column;
    margin-top: 10px
}

.labels input,
select {
    text-size-adjust: 100%;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    border-color: var(--naranja);
    background-color: #f7efee;
}