:root {
    --blanco_roto:#EDE8D9;
    --naranja: #FF5035;
    --azul_oscuro: #17191D;
    --naranja_claro: #FE8A78;
}
.fondo_2{
    background-color: var(--azul_oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 45px;
    justify-content: flex-start;
    width:  100%; 
    
}
.orden{
    display: flex;
    justify-content: space-between;
}
.fondo {
    background-color: var(--blanco_roto);
}
.contacta{
    margin: 20px;
}
.contacta1{
    text-align: left;
}
.contacta1 textarea{
    margin: 18px;
    font-size: 30px;
}
.contacta1 input[type="number"]{
    font-size: 30px;
    margin: 18px;
}
.contacta1 input[type="text"]{
    font-size: 30px;
    margin: 18px;
}
.letra{
    color: white;
    font-family: 'Franklin Gothic Medium';
}
.imagen {
    width:550px;
    height: 343px;
}
.imagen2{
    width: 590px;
    height: 8px;
}
.imagen3{
    width: 250px;
    height: 200px;
    margin-bottom: 0;
}