*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blanco_roto: #EDE8D9;
    --naranja: #FF5035;
    --azul_oscuro: #17191D;
    --naranja_claro: #FE8A78;
  }
  
body{
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1200px;
   
    margin: auto;        /* LO CENTRA TODO */
  
    
}

header{
    height: 100vh;
    background-image: linear-gradient(to right, rgba(67, 67, 67, 0.452) 0%, rgba(0, 0, 0, 0.452) 100%), url(/menu_Principal/images/portada.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;      /* POSICIONAR VERTICAL Y HORIZONTALMENTE */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background: rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    cursor: pointer;    /* Cada vez que pasas el RATON POR ENCIMA aparece la MANITA */
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}



.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; /* VIEW PER WIDTH 30% DE ANCHO DE LA PAGINA */
    height: 100%;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    flex-direction: column;     /* PARA QUE SE PONGAN UNO ENCIMA DE OTRO */
    justify-content: space-evenly;    /* REPARTE ESPACIO EQUITATIVAMENTE VERTICALMENTE */
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}


.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}


.copy{
    font-weight: 300;
    font-size: 25px;
}

/* Nuestro Servicio */

.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(0, 0, 0);
    margin-bottom: 40px;
    font-size: 40px;
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;    /* Si no llega a caber en la misma linea quiero que lo pases abajo */
}

.contenedor-servicio img{
    width: 20%;
}

.checklist-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
}

.n-service{
    margin-bottom: 7px;
    color: black;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;  /* ESPACIAR PARA QUE NO ESTÉ TAN JUNTO */
}

.gallery{
    background: #f2f2f2;
}


.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.img-galeria{
    object-fit: cover;
    width: 15rem;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;  
    border-radius: 25px; 
    transition: opacity 0.5s;  /* ESTO HARA QUE CUANDO DEJE DE ESTAR EL RATON POR ENCIMA NO QUITE BRUSCAMENTE LA ANIMACION */
}

.imagen-light{
    position: fixed;    /* QUE SE FIJE A LA PAGINA */
    background: rgba(0, 0, 0,.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);     /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);            /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
    transition: transform .3s .2s;  /* CON ESTE CODIGO GUARDAMOS LA FOTO PARA PODER CLICKAR EN EL Y CON JS HACER QUE SE AMPLIE AL TOCARLA */
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}



.experts{
    display: flex;          /* PARA QUE SE PONGAN UNO DELANTE DE OTRO */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.cont-expert{
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.cont-expert img{
    width: 80%;
    display: block;
    margin:0 auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

footer{
    background-color: black;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    color: white;
    width: 40%;
}

.brand{
    font-weight: 500;
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;      /* PARA QUE LO PONGA AL FINAL DE CONTENEDOR */
}

.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background:  white;
    color: #ff5500;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;  /* CENTRAR VERTICALMENTE */
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

.img-galeria:hover {
    opacity: 0.7; /* Cambia la opacidad al pasar el ratón por encima */
    transition: opacity 0.5s; /* Agrega una transición suave para el efecto */
  }


.divimagen{
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    display: block;
    grid-template-columns: none;
}

.textodiv{
 display: flex;
 flex-direction: column;
 margin-left: 600px; 
 text-align: left;
}

.botones {
    margin-left: 60%;
    margin: 40%;
    width: 48%;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 3rem;
    max-height: 7rem;
    margin-bottom: 5%;
    margin-top: 2%;
    color: var(--blanco_roto);
    background-color: var(--naranja);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .botones:hover {
    box-shadow: 1px 2px 2px rgba(229, 103, 23, 0.075)inset, 0 0 15px rgba(255, 102, 0, 0.6);
  }
  
  a{
    text-decoration: none; /* Quita el subrayado */
    color: #ffffff;
  }

 
.logo-menu{
    width: 1px;
  }
  .img-fluid {
    transform: translateX(25em);
  }


@media (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .text-center{
        width: 700px;
        
    }
    

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-servicio{
        width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-expert{
        width: 50%;
    }

    .footer-content{
        justify-content: space-evenly;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px ;
    }

    .social-media i{
        margin-left: 0;
    }
    .botones {
        margin-left: 60%;
        margin: 28%;
        width: 48%;
        min-width: 15rem;
        max-width: 20rem;
        min-height: 3rem;
        max-height: 7rem;
        margin-bottom: 5%;
        margin-top: 2%;
        color: var(--blanco_roto);
        background-color: var(--naranja);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      .img-fluid {
        transform: translate(1px, 15%);
      }
}
    

@media (max-width:500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburger{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
    .botones{
    margin-left: 60%;
    margin: 17%;
    width: 48%;
    min-width: 15rem;
    max-width: 20rem;
    min-height: 3rem;
    max-height: 7rem;
    margin-bottom: 5%;
    margin-top: 5%;
    color: var(--blanco_roto);
    background-color: var(--naranja);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .img-fluid {
        transform: translate(1px, 50%);
      }
}